*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 100%;
}
.banners{
	display: none;
}
.img-info{
	width: 100%;
}
.img-info h2{
	padding: 30px 30px 20px;
	font-family: arial;
	font-size: 40px;
	color: #111;
	line-height: 44px;
}
.img-info p{
	padding: 0px 30px 20px;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 24px;
}
.img-me{
	padding-bottom: 260px;
	width: 100%;
}
@media only screen and (min-width:768px){
	.banners{
		display:  block ;
		width: 100%;
		padding-bottom: 20px;
	}
	.wrapper{
	width: 600px;
	margin: 0 auto;
}
.img-info h2{
	padding: 20px 0px 0px;
	color: red;
	}
.img-info p{
	padding: 20px 0px 0px;	
}
.img-me{
	padding-top: 30px;
	
}
@media only screen and (min-width:1000px){
	
	 .wrapper{
	width: 1000px;
}
    .img-info{
	width: 50%;
	float: right;
}
   .img-info h2{
	padding: 20px 40px 0px;
	}
.img-info p{
	padding: 20px 40px 30px;
	padding-bottom: 30px;
	line-height: 24px;
	font-size: 22px;
		
}
   .img-me{
	padding-top: 10px;
	width: 50%;
	float: left;
	}
}
	

